<html>
    <body>
        <img src="cid:{img_id}" /><br>
        <strong>Title</strong>: {{title}}<br>
        <strong>Details</strong>: {{details}}<br>
        <strong>Price</strong>: {{price}}<br>
    </body>
</html>
